<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.api.db.UrlCodeMapper">
	<resultMap id="UrlCodeBean" type="UrlCodeBean">
		<result column="urlcode" property="urlcode" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="UserBean" type="UserBean">
		<result column="userid" property="userid" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="passwd" property="passwd" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getUrl" resultMap="UrlCodeBean" parameterType="UrlCodeParameter" statementType="STATEMENT">
		select urlcode,url from oauth2.url_info where enable='1' and urlcode='${urlcode}';
	</select>
	
	<select id="getPasswd" resultMap="UserBean" parameterType="UrlCodeParameter" statementType="STATEMENT">
		select userid,username,passwd from oauth2.user_info where enable='1' and username='${user}';
	</select>


</mapper>